<section>
  <h2>Register</h2>
  <input placeholder="Login" [(ngModel)]="login" (keyup)="checkLogin($event)" />
  <div class="validation-messages-container">
    <app-validation-message
      [message]="message"
      *ngFor="let message of loginValidationMessages"
    ></app-validation-message>
  </div>
  <input
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
    (keyup)="checkPassword($event)"
  />
  <div class="validation-messages-container">
    <app-validation-message
      [message]="message"
      *ngFor="let message of passwordValidationMessages"
    ></app-validation-message>
  </div>
  <input
    type="password"
    [(ngModel)]="repeatPassword"
    placeholder="Repeat password"
    (keyup)="checkRepeatPassword($event)"
  />
  <div class="validation-messages-container">
    <app-validation-message
      [message]="message"
      *ngFor="let message of repeatPasswordValidationMessages"
    ></app-validation-message>
  </div>
  <button type="submit" [disabled]="disabled" (click)="submitHandle($event)">
    Register
  </button>
  <p class="register-link">
    Already have an account? <a routerLink="/login">Login</a>
  </p>
</section>
