@import "../../../../style.scss";

#container {
  width: 100%;
  padding: 10px;
  background-color: $tertiary-background-color;
  border-radius: 10px;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3px 20px 3px;
}

h3 {
  font-family: $thin-text-font;
}

header fa-icon {
  font-size: 24px;
  cursor: pointer;
}

.title-container input,
.description-container textarea {
  background-color: $primary-background-color;
  border: 2px solid $tertiary-background-color;
  border-radius: 10px;
  color: $text-color;
  font-size: 18px;
  font-family: $regular-text-font, Roboto, sans-serif;
  width: 100%;
  padding: 5px 8px;
  outline: none;
  margin-bottom: 10px;
}

.description-container textarea {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[type="submit"],
.cancel {
  width: 45%;
  height: 40px;
  color: $text-color;
  font-family: $regular-text-font, Roboto, sans-serif;
  background-color: $tertiary-background-color;
  border: 2px solid $primary-background-color;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease;
}

button[type="submit"]:disabled {
  color: $grey;
}

button[type="submit"]:not(:disabled):hover,
.cancel:hover {
  background-color: $primary-background-color;
}

.selections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.priority-container,
.status-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.priority-container label,
.status-container label,
.datetime-container label {
  margin-bottom: 10px;
  display: block;
  padding-left: 4px;
}

.datetime-container {
  width: 45%;
  margin-bottom: 10px;
}

.datetime-container mat-form-field {
  width: 100%;
}

.datetime-container input {
  color: $text-color;
  font-family: $regular-text-font, Roboto, sans-serif;
}

#remind-container {
  display: flex;
  align-items: center;
  padding-left: 4px;
}

#remind {
  margin: 10px 10px 10px 0;
  background-color: $secondary-background-color;
}

#remind-container label {
  margin-bottom: 0;
}
