<section *ngIf="list" id="list">
  <header>
    <h2 *ngIf="!editMode">{{list.title}}<button (click)="changeEditMode(true)">
      <fa-icon [icon]="faPenToSquare"></fa-icon></button></h2>
    <app-list-title-editor *ngIf="editMode" [list]="list" [title]="list.title"
                           [type]="1" [editMode]="editMode"
                           (editModeEvent)="changeEditMode($event)"
    (editTitleEvent)="changeTitle($event)"></app-list-title-editor>
    <button *ngIf="!editMode" mat-icon-button [matMenuTriggerFor]="menu" aria-label="List menu opening button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item (click)="handleCopy()">
        <fa-icon [icon]="faCopy"></fa-icon>
        <span>Clone</span>
      </button>
      <button mat-menu-item (click)="handleArchive()">
        <fa-icon [icon]="faBoxArchive" [class.archived]="list.isArchived"></fa-icon>
        <span>{{list.isArchived ? "Dearchive" : "Archive"}}</span>
      </button>
      <button mat-menu-item (click)="openDialog()">
        <fa-icon class="delete" [icon]="faTrash"></fa-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </header>
  <span *ngIf="list.isArchived" class="list-archived">Archived</span>
  <div class="add-task" *ngIf="!createItem" (click)="handleCreateItem()">
    <fa-icon [icon]="faPlus"></fa-icon>
    <p>New task</p>
  </div>
  <app-item-create *ngIf="createItem"
                   (itemEvent)="addItem($event)"
                   (createItemEvent)="changeItemCreate($event)"
                   [type]="0"
                   [listID]="this.list!.id">
  </app-item-create>
  <div cdkDropListGroup>
    <div class="container">
      <h3>Not started</h3>
      <div
        cdkDropList
        #notStartedList="cdkDropList"
        [cdkDropListConnectedTo]="[inProcessList, completedList]"
        [cdkDropListData]="notStartedItems"
        class="list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div *ngIf="notStartedItems.length != 0">
          <app-item-view *ngFor="let item of notStartedItems" [cdkDragData]="item" [item]="item" cdkDrag></app-item-view>
        </div>
        <p class="empty-container" *ngIf="notStartedItems.length == 0">Nothing here yet</p>
      </div>
    </div>
    <div class="container">
      <h3>In process</h3>
      <div
        cdkDropList
        #inProcessList="cdkDropList"
        [cdkDropListData]="inProcessItems"
        [cdkDropListConnectedTo]="[completedList, notStartedList]"
        class="list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div *ngIf="inProcessItems.length != 0">
          <app-item-view *ngFor="let item of inProcessItems" [cdkDragData]="item" [item]="item" cdkDrag></app-item-view>
        </div>
        <p class="empty-container" *ngIf="inProcessItems.length == 0">Nothing here yet</p>
      </div>
    </div>
    <div class="container">
      <h3>Completed</h3>
      <div
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListConnectedTo]="[inProcessList, notStartedList]"
        [cdkDropListData]="completedItems"
        class="list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div *ngIf="completedItems.length != 0">
          <app-item-view *ngFor="let item of completedItems" [cdkDragData]="item" [item]="item" cdkDrag></app-item-view>
        </div>
        <p class="empty-container" *ngIf="completedItems.length == 0">Nothing here yet</p>
      </div>
    </div>
  </div>
</section>
