<section id="list">
  <header>
    <h2>
      Hello, <span class="accent">{{ this.username }}</span>
    </h2>
  </header>
  <div class="container">
    <div class="container-header">
      <h3>Tasks for today</h3>
      <button (click)="handleShowCompleted()">
        <fa-icon [icon]="showCompleted ? faEyeSlash : faEye"></fa-icon
        >{{ showCompleted ? "Hide completed" : "Show completed" }}
      </button>
    </div>
    <div class="list">
      <div *ngIf="items.length != 0">
        <app-item-view
          *ngFor="let item of itemsToShow"
          [item]="item"
          (itemDeletedEvent)="deleteItem($event)"
          [canDrag]="false"
          (itemChanged)="changeItem($event)"
        >
        </app-item-view>
      </div>
      <p class="empty-container" *ngIf="items.length == 0">
        You are free today!
      </p>
    </div>
  </div>
</section>
