@import "../../../../style.scss";

mat-expansion-panel-header {
  font-family: $regular-text-font, Roboto, sans-serif;
  font-size: 16px;
}

mat-panel-title {
  padding-left: 16px;
}

.mat-expansion-panel {
  border: none;
  background-color: $tertiary-background-color;
  position: relative;
}

.mat-expansion-panel:hover {
  background-color: $secondary-background-color;
}

.mat-expansion-panel-header-title {
  color: $text-color;
}

.mat-expansion-panel-body {
  color: $text-color;
  background-color: $tertiary-background-color;
}

p {
  vertical-align: middle;
}

.completed,
.in-process,
.not-started {
  margin-right: 10px;
  font-size: 10px;
  line-height: 10px;
  vertical-align: middle;
}

.completed {
  color: $accent-color;
}

.in-process {
  color: $text-color;
}

.not-started {
  color: $secondary-background-color;
}

.completed-title {
  text-decoration: line-through;
  color: $grey;
}

mat-panel-title fa-icon:first-child {
  color: $grey;
  margin-right: 10px;
}

.high-priority {
  color: $accent-color;
}

.standard-priority {
  color: $grey;
}

.standard-priority,
.high-priority {
  margin-left: auto;
}

mat-panel-title button {
  background: $tertiary-background-color;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  color: $text-color;
  margin: 0 -10px 0 10px;
}

mat-expansion-panel:hover button {
  background-color: $secondary-background-color;
}

mat-icon {
  line-height: 30px;
  margin-right: 16px;
  width: 24px;
  color: $text-color;
  margin-top: -3px;
}

mat-menu {
  background: $tertiary-background-color;
}

fa-icon {
  margin-right: 20px;
}

.delete {
  color: $red;
}

button:not(.menu-toggle) {
  padding: 0 16px;
}

.deadline {
  padding-top: 20px;
}

.priority-button,
.toggle-button,
.handle-button {
  pointer-events: auto;
  cursor: pointer;
}

mat-panel-title .menu-toggle {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.menu-toggle mat-icon {
  margin-top: 0;
}

.remind {
  color: $accent-color;
  font-size: 16px;
  margin-right: 10px;
}
