<div>
  <mat-expansion-panel
    *ngIf="item && !editMode"
    hideToggle
    #panel
    cdkDrag
    [cdkDragData]="item"
    [cdkDragDisabled]="!canDrag"
    [cdkDragRootElement]="'app-item-view'"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon
          *ngIf="canDrag"
          cdkDragHandle
          [icon]="faGripVertical"
          class="handle-button"
        ></fa-icon>
        <p>
          <span selectableText [class.completed-title]="item.status == 2">{{
            item.title
          }}</span>
        </p>
        <fa-icon
          (click)="handleChangePriority($event)"
          class="priority-button"
          [icon]="faStar"
          [class]="item.priority === 1 ? 'high-priority' : 'standard-priority'"
        ></fa-icon>
        <button
          class="menu-toggle"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="task menu opening button"
          (click)="handleOpen($event)"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p selectableText *ngIf="item.description">{{ item.description }}</p>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item (click)="handleEdit()">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="openDialog()">
        <fa-icon class="delete" [icon]="faTrash"></fa-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    <p selectableText class="deadline">
      <fa-icon [icon]="faBell" *ngIf="item.remind" class="remind" />{{ this.getDeadline() }}
    </p>
  </mat-expansion-panel>
  <app-item-create
    *ngIf="item && editMode"
    [title]="item.title"
    [description]="item.description"
    [listID]="item.toDoListID"
    [priority]="item.priority"
    [remind]="item.remind"
    [status]="item.status"
    [type]="'update'"
    [deadline]="item.deadline"
    [id]="item.id"
    [createdAt]="item.createdAt"
    (itemEvent)="changeItem($event)"
    (createItemEvent)="changeEditMode($event)"
  >
  </app-item-create>
</div>
